/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main Styling */
html,body{
    font-family: 'Montserrat';
    line-height: 1.7em;
}

a{
    color: #333;
    text-decoration: none;
}
h1{
    padding-bottom: 20px;
    color: #555;
}

h2, h3{
    padding-bottom: 20px;
}

p{
    margin: 10px 0;
}

img{
    image-rendering: pixelated;
}

/* Utility Classes */
.container{
    margin: auto;
    font-family: 'Montserrat';
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
}

.text-primary{
    font-family: 'Montserrat';
    /* color: #f7c08a; */
    color: #F08A24;
}
.text-dark{
    font-family: 'Montserrat';
    font-weight: normal;
    color: #444;
    text-align: center;
    margin: 2rem 0;
}

.lead{
    font-size: 20px;
}

.btn{
    display: inline-block;
    font-size: 18px;
    color: #ffffff;
    background: #333;
    padding: 12px 20px;
    border: none;
    transition-duration: 0.4s;
}
.btn:hover{
    background: #f7c08a;
    color: #333333;
}
.btn-light{
    background: #f4f4f4;
    color: #333;
}

.bg-dark{
    background: #333;
    color: #ffffff;
}

.bg-light{
    background: #fff;
    color: #333;
}
.bg-primary{
    background: #f7c08a;
    color: #333333;
}

.clr{
    clear: both;
}

.l-heading{
    margin-top: 30px;
    font-size: 40px;
}

.d-button{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 20px 0px;
}

/* Padding */
.py-1{
    padding: 10px 0;
}
.py-2{
    padding: 20px 0;
}
.py-3{
    padding: 30px 0;
}
.py-4{
    padding: 60px 0px 40px;
}


/* Navbar */
#navbar{
    background: #333;
    color: #ffffff;
    overflow: auto;
}

#navbar a{
    color: #ffffff;
}

#navbar h1{
    float: left;
    padding-top: 20px;
}

#navbar ul{
    list-style: none;
    float: right;
}
#navbar ul li{
    float: left;
}
#navbar ul li a,
#navbar ul li #sign-out {
    font-size: 1.1rem;
    display: inline-block;
    padding: 20px;
    text-align: center;
}
#navbar ul li a:hover,
#navbar ul li a.current{
    background: #444;
    color: #f7c08a;
    transition-duration: 0.5s;
}

/* #sign-out{
    font-family: inherit;
    background: #333;
    color: #ffffff;
    overflow: auto;
    border: none;
} */

#sign-out{
    border: none;
    background-color: #333;
    color: white;
    padding: 16px 32px;
    font-family: inherit;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 1s;
    cursor: pointer;
}

#sign-out:hover{
    background-color: #444;
    color: #f7c08a;
}

/* Showcase */
#showcase{
    background: url(../img/stock4.webp) no-repeat center/cover;
    height: 650px;
    /* background-size: contain; */
}
#showcase .showcase-content{
    color: #ffffff;
    text-align: center;
    padding-top: 130px;
}

#showcase .showcase-content h1{
    font-size: 70px;
    line-height: 1.2em;
}

#showcase .showcase-content p{
    padding-bottom: 20px;
    /* line-height: 1.9em; */
    font-size: 20px;
}

/* Home Info */
#home-info{
    height: 400px;
}

#home-info .info-img{
    display: block;
    float: left;
    width: 50%;
    background: url(../img/stk1.svg) no-repeat;
    min-height: 100%;
}

#home-info .info-content{
    float: right;
    width: 50%;
    height: 100%;
    text-align: justify;
    padding: 50px 30px;
    overflow: hidden;
}
#home-info .info-content p{
    padding-bottom: 30px;
}

/* Features */
.box{
    float: left;
    width: 33.3%;
    padding: 50px;
    text-align: center;
}

.box i{
    margin-bottom: 10px;
}

/* About Info */
#about-info .info-right{
    float: right;
    width: 50%;
    min-height: 100%;
}

#about-info .info-right img{
    display: block;
    margin: auto;
    width: 70%;
    border-radius: 50%;
}

#about-info .info-left{
    float: left;
    font-family: 'Montserrat';
    text-align: justify;
    width: 50%;
    min-height: 100%;
}

/* Testimonials */
#testimonials{
    height: 600px;
    background: url(../img/stk3.svg) repeat-x center center/cover;
    background-size: 600px;
    background-color: #444;
    padding-top: 100px;
}

#testimonials h2{
    font-family: 'Montserrat';
    color: #ffffff;
    text-align:justify;
    padding-bottom: 40px;
}

#testimonials .testimonial{
    padding: 30px;
    margin-bottom: 40px;
    border-radius: 5px;
    opacity: 0.9;
}

#testimonials .testimonial img{
    width: 90px;
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}

/* Contact Form */
.contact-form1{
    height: 500px;
}

#contact-form .form-group{
    font-family: 'Montserrat';
    margin-bottom: 20px;
}

#contact-form label{
    display: block;
    margin-bottom: 5px;
}

#contact-form input, 
#contact-form textarea{
    width: 100%;
    padding: 10px;
    border: 1px #ddd solid;
}

#contact-form textarea{
    height: 200px;
}

#contact-form input:focus, 
#contact-form textarea:focus{
    outline: none;
    border-color: #f7c08a;
}

/* Trade */

.contain{
    display: block;
    overflow: auto;
    padding: 60px 30%;
}

#trade-form .form-group{
    margin-bottom: 20px;
}

#trade-form label{
    margin-bottom: 5px;
}

#trade-form input, 
#trade-form textarea{
    width: 100%;
    padding: 10px;
    border: 1px #ddd solid;
}


#trade-form input:focus, 
#trade-form textarea:focus{
    outline: none;
    border-color: #f7c08a;
}

/* Table */
.stock-table{
    width: 100%;
    margin-bottom: 110px;
    border-collapse: collapse;
}

th{
    padding: 15px;
    text-align: left;
}

td{
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #666;
}

tr:nth-child(even){
    background-color: #ebebeb;
}

.heading th{
    font-size: 1.3rem;
    color: #555;
    padding: 20px 15px;
}

.stock-table .data:hover{
    background-color: #666;
    color: #ebebeb;
}

/* Error / Notif */

#error-msg{
    color: rgba(255, 0, 0, 0.589);
    font-size: 20px;
}

/* Footer */

#main-footer{
    font-family: 'Montserrat';
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: #444;
    color: #ffffff;
    padding: 20px;
    z-index: 9999;
}