*{
    margin: 0;
    padding: 0;
    font-family: 'Monteserat';
    scroll-behavior: smooth;
}

.h-head{
    font-size: 2.5rem;
    text-align: center;
    margin: 60px auto 20px;
}

.content{
    margin: 40px 15% 20px;
    text-align: justify;
}

.doc-content{
    width: 600px;
    justify-content: center;
    margin: 40px auto;
    text-align: left;
    padding-left: 15px;
    border: solid 3px #444;
    border-radius: 5%;
}

.vid-content{
    margin: 0 20%;
    border: solid 1px #444;
    border-radius: 8%;
}


