<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Welcome to the most extraordinary hotel in Boston Masachusetts">
    <meta name="keywords" content="hotel, boston hotel">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>About</title>
</head>
<body>
    <header>
        <nav id="navbar">
            <div class="container">
                <h1 class="logo"><a href="index">CVS</a></h1>
                <ul>
                    <li><a href="index">Home</a></li>
                    <li><a href="inv">Investments</a></li>
                    <li><a href="buy">Buy</a></li>
                    <li><a href="sell">Sell</a></li>
                    <li><a class="current" href="about">About</a></li>
                    <li><a href="contact">Contact</a></li>
                    <!-- <li><a href="login.html">Login</a></li> -->
                </ul>
            </div>
        </nav>
    </header>
    <section id="about-info" class="bg-light py-3">
        <div class="container">
            <div class="info-left">
                <h1 class="l-heading"><span class="text-primary">About</span> Code"vid"19</h1>
                <p>Code"vid" Provides  Simple Secure and  Free solutions to modern day finance problems. 100% free with no brokerage charges  and absolutely safe.</p>
                <p>For advanced trading, the application will provide the analysis of various stocks/funds and can also suggest some great stocks to invest in based on the user’s needs and interests i.e. long term investments, short term investments etc. The user will be able to view a graphical data based on the history of the company. The application will provide a list of daily losers and daily gainers making it easier for the investor to invest.</p>
            </div>
            <div class="info-right">
                <img src="../static/img/stock5.jpg" alt="hotel">
            </div>
        </div>
    </section>



    <section id="testimonials" class="py-3">
        <div class="container">
            <h2 class="l-heading">What Our Users Say</h2>
            <div class="testimonial bg-primary">
                <img src="../static/img/person-1.jpg" alt="Samantha">
                <p>Code"vid" has got the best customer service and the team is very patient, cordial and prompt in their responses. I’ve so far loved the journey with them and hope to do so for many years to come. Good work Code"vid" team!</p>
            </div>
            <div class="testimonial bg-primary">
                <img src="../static/img/person-2.jpg" alt="Samantha">
                <p>Loved Code"vid" …I always needed something of this kind, which could help me manage my money easily. Very useful.Features like creating your own portfolio are great..I started investing in MF due to code"vid " only. Very responsive Support team. Always available to help for any query..⁠.</p>
            </div>
        </div>
    </section>

    <div class="clr"></div>
    <footer id="main-footer">
        <p>Code"vid"19 Solutions &copy; 2021, All Rights Reserved</p>
    </footer>
</body>
</html>