<!DOCTYPE>
<html>
 <lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Welcome to the most extraordinary finance web application!">
    <meta name="keywords" content="CVS investment web application">
    <script src="https://kit.fontawesome.com/84cc72d885.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Contact</title>
</head>
<body>
    <header>
        <nav id="navbar">
            <div class="container">
                <img src="../static/img/web_logo.png" alt="logo" class="c-logo">
                <h1 class="logo"><a href="index">CVS</a></h1>
                <ul>
                    <li><a href="index">Home</a></li>
                    <li><a href="inv">Analysis</a></li>
                    <li><a href="trade">Trade</a></li>
                    <li><a href="about">About</a></li>
                    <li><a class="current" href="contact">Contact</a></li>
                    <li><a href="http://localhost:8000/" class="f90-logout-button">Sign Out</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <section id="contact-form" class="py-3">
        <div class="container">
            <h1 class="l-heading"><span class="text-primary">Contact</span> Us</h1>
            <p>We are here to help you with any questions you might have. We offer support for all technical and service related queries.</p>
            <form action="" method="post">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Enter a Valid Email ID" required>
                </div>
                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea type="text" name="message" id="message" required></textarea>
                </div>
                <button type="submit" class="btn">Submit</button>
                <p id="the-msg"> {{error}} </p>
            </form>
        </div>
    </section>
    <section id="contact-info" class="bg-dark">
        <div class="container">
            <div class="box">
                <i class="fas fa-hotel fa-3x"></i>
                <h3>Location</h3>
                <p>50 Main St, Boston MA</p>
            </div>
            <div class="box">
                <i class="fas fa-phone fa-3x"></i>
                <h3>Phone Number</h3>
                <p>(617) 555-5555</p>
            </div>
            <div class="box">
                <i class="fas fa-envelope fa-3x"></i>
                <h3>Email Address</h3>
                <p>frontdesk@cvsolutions.in</p>
            </div>
        </div>
    </section>

    <div class="clr"></div>
    <footer id="main-footer">
        <p>Code"vid"19 Solutions &copy; 2021 All Rights Reserved</p>
    </footer>
</body>
</html>