<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Welcome to the most extraordinary hotel in Boston Masachusetts">
    <meta name="keywords" content="hotel, boston hotel">
    <script src="https://kit.fontawesome.com/84cc72d885.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/style_buy.css">
    <link rel="stylesheet" href="../static/css/style_doc.css">
    <title>CVS | Trading Guide</title>
</head>
<body>
    <header>
        <nav id="navbar">
            <div class="container">
                <h1 class="logo"><a href="index">CVS Home</a></h1>
            </div>
        </nav>
    </header>

    <h1 class="h-head py-4">The Basic Trading Guide</h1>


    <div class="doc-content">
        <h2 style="line-height: 0.4rem; color: #333;" class="h-head">Contents</h2>
        <h3><a href="#c1">INTRODUCTION</a></h3>
        <h3><a href="#c2">CHOOSE AN ONLINE BROKER</a></h3>
        <h3><a href="#c3">KNOW YOUR STOCKS BEFORE TRADING</a></h3>
        <h3><a href="#c4">KNOW THE COSTS TO TRADE STOCKS</a></h3>
        <h3><a href="#c5">TRADE YOUR FIRST STOCK</a></h3>
        <h3><a href="#c6">ADVANCED STOCK TRADING STRATEGIES</a></h3>
        <h3><a href="#c7">SOME USEFUL LINKS</a></h3>
        <h3><a href="#c8">BEST STOCKS TO INVEST IN FOR BEGINNERS IN INDIA</a></h3>
    </div>

    <section class="content" id="c1" >
        <h2>INTRODUCTION</h2>
        <p>Welcome to “CODE”Vid 19 Trading solutions.
            It's not always enough to simply save a lot of money - if you want your savings
            to outpace inflation and grow into a nest egg, you have to invest. Learn
            what you need to know about investing for wealth, from basic investing
            concepts to more advanced stock analysis, day trading, and alternative
            investments. Investing is a way to set aside money while you are busy with life and have that money
            work for you so that you can fully reap the rewards of your labor in the future. Investing in a
            smart manner can be extremely beneficial in the long run. The famous Warren Buffett defines 
            investing as "the process of laying out money now to receive more money in the future."
            The goal of investing is to put your money to work in one or more types of investment
            vehicles in the hopes of growing your money over time.
            Our subsequent topics include the key steps that one needs to take in order to become
            an efficient trader.
        </p>
    </section>
    <section class="content" id="c2">
        <h2>CHOOSE AN ONLINE BROKER</h2>
        <p>
            If you haven't already opened a brokerage account with a respected online stock
            brokerage, do it now. Take your time doing your research so you can feel confident that you are
            choosing the best online broker for your situation. As you do your research, consider factors like
            trading commission fees (many brokerages offer free trading), how intuitive the app or website is, 
            and any research or educational tools available for customers.
        </p>
    </section>

    <iframe class="vid-content" src="https://www.youtube.com/embed/y7iVTTH5tOA" height="500px" width="60%" title="Stocks101"></iframe>

    <section class="content" id="c3">
        <h2>KNOW YOUR STOCKS BEFORE TRADING</h2>
        <p>
            Once you have a brokerage, you can buy stocks, but what stocks should you buy? If
            you're new to trading, the best place to start may not be with stocks, but
            with exchange-traded funds (ETFs). ETFs allow investors to buy a bundle of stocks at
            once—which can help if you don't feel confident choosing one company over another. 
            ETFs, built to replicate major indices like the DOW, NASDAQ, and S&P 500, are good places
            to start to give your portfolio broad exposure to the American stock market. Many traders
            also diversify their holdings with assets other than stocks, such as bonds, as a way of
            hedging their risk during stock market downturns.
            When you want to buy (or sell) a stock, ETF, or any other traded asset, you have options for
            the type of trade order you want to place. The two most basic types are market orders and limit
            orders. Market orders execute immediately for the best price available at that moment. Limit
            orders won't necessarily execute right away, but they give you greater control over the price you
            pay (or receive, when selling). Once you own a stock, you might consider placing a trailing stop
            loss sell order, which allows you to continue riding positive momentum and automatically sell
            when the trade starts to turn on you.
        </p>
    </section>
    <section class="content" id="c4">
        <h2>KNOW THE COSTS TO TRADE STOCKS</h2>
        <p>
            One of the biggest enemies of successful stock trading is expenses. They represent money you
            pay just to own or trade securities. One type of expense is a commission fee, which you should
            consider while shopping around for brokerages.
            If you're buying individual stocks through a brokerage that doesn't charge commission fees, you
            might not incur any expenses. However, when you start trading ETFs, mutual funds, and other
            types of investments, then you need to understand expense ratios. These funds are managed by
            a person who is paid a percentage of the fund's assets every year. So, if an ETF has an expense
            ratio of 0.1%, that means that you will pay $0.10 per year in expenses for every $100 you invest in
            the ETF.
            Aside from expenses, you also need to consider your risk tolerance. A common risk assessment
            method involves considering a hypothetical scenario in which your investments suddenly lose
            50% of their value. Would you buy more after the crash, do nothing, or sell? If you would buy
            more, you have an aggressive risk tolerance, and you can afford to take more risks. If you would
            sell, you have a conservative risk tolerance, and you should seek out relatively safe investments.
            Understanding how you would emotionally react to losses is one thing, and understanding how
            much you can lose without sacrificing financial stability is another. You may have an aggressive
            risk tolerance, but if you don't have an emergency fund to fall back on in case of sudden job loss,
            then you shouldn't use your limited funds to invest in risky stocks. Along with expenses, it's
            important to understand the tax rules for each of your positions, especially if you're going to
            actively trade stocks. The taxes you pay on stock profits are known as capital gains taxes. In
            general, you pay more capital gains taxes when you hold a stock for less than a year, and you pay
            less when you hold a stock for more than a year. This tax structure is designed to encourage long-
            term investing.
            While selling stocks for a profit will increase your tax bill, selling stocks for a loss will decrease
            your tax bill. To prevent people from taking advantage of these tax benefits, there's something
            known as the "wash sale rule." Essentially, this rule delays the tax implications of any profits or
            losses if you re-enter the same position within 30 days. In other words, if you sell a stock for a
            loss, and then buy the same stock a week later, your loss will no longer give you tax benefits—it's
            carried over into your new position. The loss will be accounted for once you sell the stock again.
        </p>
    </section>
    <section class="content" id="c5">
        <h2>TRADE YOUR FIRST STOCK</h2>
        <p>
            When you're ready to place your first trade, fund your brokerage account by transferring
            money to it from a bank account. Once your funds have settled (some brokerages give
            you the money immediately while the transfer is processing), then you simply need to
            select the stock you want to trade, pick an order type, and place the order.
            After placing the order, watch it to make sure it actually executes. If you're using market
            orders, it should execute immediately. However, if you're using limit orders, your order
            might not execute right away. If you become impatient, you can try moving your limit
            price closer to the ask price (if you're buying) or the bid price (if you're selling).
        </p>
    </section>
    <section class="content" id="c8">
        <h2>ADVANCED STOCK TRADING STRATEGIES</h2>
        <p>
            Beginners should stick with simple buy and sell trades until they learn the ropes.
            However, once someone masters those basic concepts, there are many advanced
            strategies that can be added to a trader's toolbelt. For example, options expose traders
            to greater volatility, allowing them to experience quicker gains (as well as quicker losses).
            Another advanced strategy is borrowing money from your brokerage firm to trade stocks.
            This is known as trading on margin. This approach to trading stocks is very, very risky, so
            steer clear until you feel confident in your trading abilities. Margin allows a trader to
            exponentially grow their portfolio, but it can also quickly land them in debt.
            Margin traders also have the ability to short stocks. A trader who shorts stock sells the
            stock first and then buys it later. When the shorted stock falls, the short seller makes
            money, because they can buy the stock back at a cheaper price than they previously sold
            it for. If the stock price increases, the short seller is in trouble, because they still have to
            buy the stock to close their position.
        </p>
    </section>
    <section class="content" id="c7">
        <h2>SOME USEFUL LINKS</h2>
        <p> <a href="https://www.youtube.com/">Stock1</a><br>
        <a href="https://www.youtube.com/">Stock1</a><br>
        <a href="https://www.youtube.com/">Stock1</a>
        </p>
    </section>
    <section class="content" id="c8">
        <h2>BEST STOCKS TO INVEST IN FOR BEGINNERS IN INDIA</h2>
        <table class="stock-table">
            <tr class="heading">
                <th>STOCK</th>
                <th>RETURNS</th>
                <th>MARKET CAPITALIZATION (In Cr.)</th>
            </tr>
        
            <tr class="data">
                <td>INFOSYS Ltd.</td>
                <td>77.50</td>
                <td>5,83,776</td>
            </tr>

            <tr class="data">
                <td>JUBL FOOD Ltd.</td>
                <td>75.05</td>
                <td>36,734</td>
            </tr>

            <tr class="data">
                <td>COFORGE Ltd.</td>
                <td>71.26</td>
                <td>16,564</td>
            </tr>

            <tr class="data">
                <td>BAJFINANCE Ltd.</td>
                <td>47.88</td>
                <td>2,93,902</td>
            </tr>

            <tr class="data">
                <td>TCS Ltd.</td>
                <td>42.18</td>
                <td>12,19,787</td>
            </tr>

            <tr class="data">
                <td>HDFC BANK Ltd.</td>
                <td>33.08</td>
                <td>8,08,937</td>
            </tr>

            <tr class="data">
                <td>GODREJ CONS Ltd.</td>
                <td>10.56</td>
                <td>80,101</td>
            </tr>

            <tr class="data">
                <td>ITC Ltd.</td>
                <td>8.72</td>
                <td>2,63,514</td>
            </tr>

            <tr class="data">
                <td>CRISIL Ltd.</td>
                <td>7.98</td>
                <td>14,077</td>
            </tr>

            <tr class="data">
                <td>HIND UNI Ltd.</td>
                <td>6.70</td>
                <td>5,63,552</td>
            </tr>
        </table>
    </section>
    

    <footer id="main-footer">
        <p>Code"vid"19 Solutions &copy; 2021, All Rights Reserved</p>
    </footer>