<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Welcome to the most extraordinary finance web application!">
    <meta name="keywords" content="CVS investment web application">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/style2.css">
    <title>Login</title>
</head>
<body>
    <header>
        <nav id="navbar">
            <div class="container">
                <h1 style="color: #fff;">CVS</h1>
                <ul>
                    <li><a class="current" href="login.html">Login</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <section>
        <div class="flex-wrap">
            <form action novalidate>
                <input type="radio" name="rg" id="sign-in" checked/>
                <input type="radio" name="rg" id="sign-up" />
                <input type="radio" name="rg" id="reset" />        
        
                <label for="sign-in">Sign In</label>
                <label for="sign-up">Sign Up</label>
                <label for="reset">Reset</label>  
        
                <input class="sign-up sign-in reset" type="email" placeholder="Email" />
                <input class="sign-up sign-in" type="password" placeholder ="Password" />
                <input class="sign-up" type="password" placeholder ="Repeat Password" />
                    
                <button>Submit</button>         
            </form>
        </div>
    </section>


    <div class="clr"></div>
    <footer id="main-footer" style="position: absolute;">
        <p>Code"vid"19 Solutions &copy; 2021 All Rights Reserved</p>
    </footer>
</body>
</html>