<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Welcome to the most extraordinary finance web application!">
    <meta name="keywords" content="CVS investment web application">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/style2.css">
    <title>Login</title>
</head>
<body>
    <header>
        <nav id="navbar">
            <div class="container">
                <img src="../static/img/web_logo.png" alt="logo" class="c-logo">              
                <h1 style="color: #fff;">CVS</h1>
            </div>
        </nav>
    </header>

    <div class="flex-wrap2"></div>

    <section class="flex-wrap">
        <div >
            <form method="post" id="formy">
                <input type="radio" name="rg" id="sign-in" checked/>
                <input type="radio" name="rg" id="sign-up" />
                <input type="radio" name="rg" id="reset" />        
        
                <label for="sign-in">Sign In</label>
                <label for="sign-up">Sign Up</label>
                <label for="reset">Reset</label>  
        
                <input class="sign-up sign-in" type="text" placeholder="Name" name="name" required>
                <input class="sign-up sign-in reset" type="email" placeholder="Email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Enter a Valid Email ID" required>
                <input class="sign-up sign-in" type="password" placeholder ="Password" name="password"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number, one uppercase and one lowercase letter, and at least 8 or more characters" required >
                <input class="sign-up" type="password" placeholder ="Repeat Password" name="rpassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number, one uppercase and one lowercase letter, and at least 8 or more characters" required >
                
                <p id="error-msg"> {{error}} </p>

                <button onclick="signinForm()">Submit</button>         
            </form>
        </div>
    </section>

    <script>
        function signinForm(event){
            var checky = document.getElementById("sign-in");
            var checky2 = document.getElementById("reset");

            if(checky.checked == true){
                document.getElementById("formy").noValidate = true;
            }
            if(checky2.checked == true){
                document.getElementById("formy").noValidate = true;
            }
        }
    </script>


    <div class="clr"></div>
    <footer id="main-footer" style="position: absolute;">
        <p>Code"vid"19 Solutions &copy; 2021 All Rights Reserved</p>
    </footer>
</body>
</html>