<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Welcome to the most extraordinary finance web application!">
    <meta name="keywords" content="CVS investment web application">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/style2.css">
    <title>Reset</title>
</head>
<body>
    <header>
        <nav id="navbar">
            <div class="container">
                <h1 style="color: #fff;">CVS</h1>
            </div>
        </nav>
    </header>

    <div class="flex-wrap2"></div>
    <section>
        <div class="flex-wrap">
            <form action novalidate method="post">
                <input type="radio" name="rg" id="reset" checked />        

                <label for="reset">Reset</label>  
        
                <input class="reset" type="password" placeholder ="New Password" name="npassword"/>
                <input class="reset" type="password" placeholder ="Repeat New Password" name="rnpassword"/>
                <input class="reset" type="password" placeholder ="Verification Code" name="vcode"/>
                
                <p id="error-msg"> {{error}} </p>

                <button>Submit</button>         
            </form>
        </div>
    </section>

    <footer id="main-footer" style="position: absolute;">
        <p>Code"vid"19 Solutions &copy; 2021 All Rights Reserved</p>
    </footer>
</body>
</html>