<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Welcome to the most extraordinary hotel in Boston Masachusetts">
    <meta name="keywords" content="hotel, boston hotel">
    <script src="https://kit.fontawesome.com/84cc72d885.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/style_buy.css">
    <title>Buy</title>
</head>
<body>
    <header>
        <nav id="navbar">
            <div class="container">
                <h1 class="logo"><a href="index">CVS</a></h1>
                <ul>
                    <li><a href="index">Home</a></li>
                    <li><a href="inv">Investments</a></li>
                    <li><a href="buy">Buy</a></li>
                    <li><a class="current" href="sell">Sell</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="contact">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <section id="flip-box">
        <div class="wrapper">
            <h1>Your Stocks</h1>
            <div class="cols">

                      <div class="col" ontouchstart="this.classList.toggle('hover');">
                          <div class="container1">
                              <div class="front" style= "background-image: url(https://unsplash.it/511/511/)">
                                  <div class="inner">
                                      <p>Kotak</p>
                        <span>Tax Saver Direct - Growth</span>
                                  </div>
                              </div>
                              <div class="back">
                                  <div class="inner">
                                      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col" ontouchstart="this.classList.toggle('hover');">
                          <div class="container1">
                              <div class="front" style="background-image: url(https://unsplash.it/502/502/)">
                                  <div class="inner">
                                      <p>Invesco</p>
                        <span>Tax Plan Direct - Growth</span>
                                  </div>
                              </div>
                              <div class="back">
                                  <div class="inner">
                                      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col" ontouchstart="this.classList.toggle('hover');">
                          <div class="container1">
                              <div class="front" style="background-image: url(https://unsplash.it/503/503/)">
                                  <div class="inner">
                                      <p>PGIM</p>
                        <span>Midcap Direct - Growth</span>
                                  </div>
                              </div>
                              <div class="back">
                                  <div class="inner">
                                      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col" ontouchstart="this.classList.toggle('hover');">
                          <div class="container1">
                              <div class="front" style="background-image: url(https://unsplash.it/504/504/)">
                                  <div class="inner">
                                      <p>ICICI Prudential</p>
                        <span>Long Term Equity Direct - Growth</span>
                                  </div>
                              </div>
                              <div class="back">
                                  <div class="inner">
                                      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col" ontouchstart="this.classList.toggle('hover');">
                          <div class="container1">
                              <div class="front" style="background-image: url(https://unsplash.it/508/508/)">
                                  <div class="inner">
                                      <p>Tata</p>
                        <span>Index Sensex Direct</span>
                                  </div>
                              </div>
                              <div class="back">
                                  <div class="inner">
                                      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
           </div>
    </section>

    <!-- <div class="clr"></div> -->
    <footer id="main-footer">
        <p>Code"vid"19 Solutions &copy; 2021, All Rights Reserved</p>
    </footer>