<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Stripe Checkout</title>

    <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../static/css/normalize.css" />
    <link rel="stylesheet" href="../static/css/global.css" />
  </head>

  <body>
    <div class="sr-root">
      <div class="sr-main">
        <header class="sr-header">
          <div class="sr-header__logo"></div>
        </header>

        <div class="sr-payment-summary completed-view">
          <h1>Your payment succeeded</h1>
          <h4>View CheckoutSession response:</h4>
          <p>
            We appreciate your business! If you have any questions, please email
            <a href="mailto:helpteam2120@gmail.com">helpteam2120@gmail.com</a>.
          </p>
        </div>
        <div class="sr-section completed-view">
          <div class="sr-callout">
            <pre></pre>
          </div>
          <button onclick="window.location.href = '/trade';">Restart Payment</button>
        </div>
      </div>
    </div>
  </body>
</html>
