<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Welcome to the most extraordinary hotel in Boston Masachusetts">
    <meta name="keywords" content="hotel, boston hotel">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/style_buy.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <title>Trade</title>
</head>
<body>
    <header>
        <nav id="navbar">
            <div class="container">
                <h1 class="logo"><a href="index">CVS</a></h1>

                <ul>
                    <li><a href="index">Home</a></li>
                    <li><a href="inv">Investments</a></li>
                    <li><a class="current" href="trade">Trade</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="contact">Contact</a></li>
                    <li><a href="http://localhost:8000/" class="f90-logout-button">Sign Out</a></li>
                </ul>

            </div>
        </nav>
    </header>

    <section class="contact-form1" id="contact-form">
        <div class="contain">
            <h1>Trade Stocks</h1>
            <form action="" method="post" onsubmit="return false">
                <div class="form-group">
                    <label for="stockid">Stock ID:</label>
                    <input type="text" name="stockid" id="stockid">
                </div>
                <div class="form-group">
                    <label for="amount">Amount:</label>
                    <input type="number" name="amount" id="amount">
                </div>
                <div class="d-button">
                    <button type="submit" class="btn" name="b1" value="b1">Buy !</button>
                    <button type="submit" class="btn" name="s1" value="s1">Sell !</button>
                </div>
            </form>
        </div>
    </section>

    <hr>

    <section id="flip-box">
        <div class="wrapper">
            <h1 class="py-4">Investment History</h1>

            <table class="stock-table">
                <tr class="heading">
                    <th>Date</th>
                    <th>Stock Name</th>
                    <th>Stock Price</th>
                    <th>Quantity</th>
                </tr>

            {% for transaction in transactions %}
                <tr class="data">
                    <td>{{ transaction[0] }}</td>
                    <td>{{ transaction[1] }}</td>
                    <td>{{ transaction[2] }}</td>
                    <td>{{ transaction[3] }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
            
    </section>

    <!-- <div class="clr"></div> -->
    <footer id="main-footer">
        <p>Code"vid"19 Solutions &copy; 2021, All Rights Reserved</p>
    </footer>

</body>
</html>