<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Welcome to the most extraordinary hotel in Boston Masachusetts">
    <meta name="keywords" content="hotel, boston hotel">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/style_buy.css">
    <title>Trade</title>
</head>
<body>
    <header>
        <nav id="navbar">
            <div class="container">
                <h1 class="logo"><a href="index">CVS</a></h1>
                <ul>
                    <li><a href="index">Home</a></li>
                    <li><a href="inv">Investments</a></li>
                    <li><a class="current" href="trade">Trade</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="contact">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <section id="contact-form">
        <div class="contain">
            <h1>Trade Stocks</h1>
            <form action="">
                <div class="form-group">
                    <label for="stockid">Stock ID:</label>
                    <input type="text" name="stockid" id="stockid">
                </div>
                <div class="form-group">
                    <label for="amount">Amount:</label>
                    <input type="number" name="amount" id="amount">
                </div>
                <button type="submit" class="btn" id="btn1">Buy !</button>
                <button type="submit" class="btn" id="btn1">Sell !</button>
            </form>
        </div>
    </section>
    
    <hr>

    <!-- <section id="flip-box">
        <div class="wrapper">
            <h1>Featured Stocks</h1>
            <div class="cols">
                
                    <div class="col" ontouchstart="this.classList.toggle('hover');"><a href="#">
                        <div class="container1">
                            <div class="front" style="background-image: url(https://unsplash.it/500/500/)">
                                <div class="inner">
                                    <p>Axis</p>
                                    <span>Long Term Equity Direct - Growth</span>
                                </div>
                            </div>
                            <div class="back">
                                <div class="inner">
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                                </div>
                            </div>
                        </div> </a>
                    </div>
               

                
                    <div class="col" ontouchstart="this.classList.toggle('hover');"><a href="#">
                        <div class="container1">
                            <div class="front" style= "background-image: url(https://unsplash.it/511/511/)">
                                <div class="inner">
                                    <p>Kotak</p>
                                    <span>Tax Saver Direct - Growth</span>
                                </div>
                            </div>
                            <div class="back">
                                <div class="inner">
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                                </div>
                            </div>
                        </div></a>
                    </div>
                
                    <div class="col" ontouchstart="this.classList.toggle('hover');"><a href="#">
                        <div class="container1">
                            <div class="front" style="background-image: url(https://unsplash.it/502/502/)">
                                <div class="inner">
                                    <p>Invesco</p>
                                    <span>Tax Plan Direct - Growth</span>
                                </div>
                            </div>
                            <div class="back">
                                <div class="inner">
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                                </div>
                            </div>
                        </div></a>
                    </div>

                    <div class="col" ontouchstart="this.classList.toggle('hover');"><a href="#">
                          <div class="container1">
                              <div class="front" style="background-image: url(https://unsplash.it/503/503/)">
                                  <div class="inner">
                                      <p>PGIM</p>
                                    <span>Midcap Direct - Growth</span>
                                  </div>
                              </div>
                              <div class="back">
                                  <div class="inner">
                                      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                                  </div>
                              </div>
                          </div></a>
                      </div>

                      <div class="col" ontouchstart="this.classList.toggle('hover');"><a href="#">
                          <div class="container1">
                              <div class="front" style="background-image: url(https://unsplash.it/504/504/)">
                                  <div class="inner">
                                      <p>ICICI Prudential</p>
                                    <span>Long Term Equity Direct - Growth</span>
                                  </div>
                              </div>
                              <div class="back">
                                  <div class="inner">
                                      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                                  </div>
                              </div>
                          </div></a>
                      </div>

                      <div class="col" ontouchstart="this.classList.toggle('hover');"> <a href="#">
                          <div class="container1">
                              <div class="front" style = "background-image: url(https://unsplash.it/505/505/)">
                                  <div class="inner">
                                      <p>Quant</p>
                                    <span>Bluechip Direct - Growth</span>
                                  </div>
                              </div>
                              <div class="back">
                                  <div class="inner">
                                      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                                  </div>
                              </div>
                          </div></a>
                      </div>

                      <div class="col" ontouchstart="this.classList.toggle('hover');"><a href="#">
                          <div class="container1">
                              <div class="front" style="background-image: url(https://unsplash.it/506/506/)">
                                  <div class="inner">
                                      <p>Mahindra</p>
                                    <span>Badhat Yojna Direct - Growth</span>
                                  </div>
                              </div>
                              <div class="back">
                                  <div class="inner">
                                      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                                  </div>
                              </div>
                          </div></a>
                      </div>
                      <div class="col" ontouchstart="this.classList.toggle('hover');"><a href="#">
                          <div class="container1">
                              <div class="front" style="background-image: url(https://unsplash.it/508/508/)">
                                  <div class="inner">
                                      <p>Tata</p>
                                    <span>Index Sensex Direct</span>
                                  </div>
                              </div>
                              <div class="back">
                                  <div class="inner">
                                      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                                  </div>
                              </div>
                          </div></a>
                      </div>
                  </div>
           </div>
    </section> -->

    <!-- <div class="clr"></div> -->
    <footer id="main-footer">
        <p>Code"vid"19 Solutions &copy; 2021, All Rights Reserved</p>
    </footer>

</body>
</html>