<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Welcome to the most extraordinary hotel in Boston Masachusetts">
    <meta name="keywords" content="hotel, boston hotel">
    <script src="https://kit.fontawesome.com/84cc72d885.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/style_buy.css">
    <title>Buy</title>
</head>
<body>
    <header>
        <nav id="navbar">
            <div class="container">
                <h1 class="logo"><a href="index">CVS - Buy</a></h1>
            </div>
        </nav>
    </header>

    <section>

    </section>

    <footer id="main-footer">
        <p>Code"vid"19 Solutions &copy; 2021, All Rights Reserved</p>
    </footer>